{
  "jsc": {
    "target": "es2015",
    "parser": {
      "syntax": "typescript",
      "tsx": true,
      "decorators": true
    },
    "transform": {
      "react": {
        "runtime": "automatic",
        "importSource": "preact",
        "pragma": "h",
        "pragmaFrag": "Fragment"
      }
    }
  },
  "module": {
    "type": "commonjs"
  }
}
